:root {
  --white: #FFF;
  --gray: #F3F3F3;
  --background: #060D23;
  --tab-background: #383D4F;
  --gray-dark: #3e3e3e;
  --gray-hover: #F7F7F7;
  --primary-blue: #00E0FE;
  --blue-gray: #BBCFD5;
}

body{
  font-family: 'Red Hat Display';
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}